/android/assets/
/data/
xcuserdata/
.DS_Store

/android/obj/
/android/libs/
/android/gen/
/android/bin/
/android/local.properties
/android/jni/obj/
/windows/Release/
/windows/pixelboost.vcxproj.user
/windows/obj/
/windows/pixelboost.vcxproj.filters
build
